@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* The body is on a center
has 0 margin on top and bottom and auto on left and right
*/

.tooltipStyle {
	background-color: pink;
	border: pink 1px solid;
	layer-background-color: pink;
	width: 100px;
	font: 20px arial, helvetica, sans-serif;
	padding: 5px;
	position: absolute;
	visibility: hidden;
}

.img {
	margin: 25px auto;
	display: flex;
	justify-content: center;
}
