@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The body is on a center
has 0 margin on top and bottom and auto on left and right
*/

body {
  font-family: "Nunito";
  margin: 0 auto;
  width: 80%;
  margin-top: 8vh;
  margin-bottom: 20vh;
  background-color: whitesmoke;
  border: 1px solid gray;
  height: 30p;
  padding: 2rem;
  box-shadow: 5px 6px 18px #888;
}

h1 {
  font-size: 20px;
}
